<nav class="doodlin-navbar">
  {{link-to "Doodlin' With Ember" "home" class="navbar-brand" }}
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Happy <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Joy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bye</a>
    </li>
  </ul>
</nav>

<div class="container">{{outlet}}</div>
