<section>
  <header><h2>Home</h2></header>

  <section>
    <header><h3>About Components, Code Reuse, and Yadda Yadda...</h3></header>
    <ul>
      <li>{{link-to "Passing Actions to Components (from outside)" "pass-action-to-component" }}</li>
    </ul>
  </section>
</section>
{{outlet}}
